.suit-tooltip {
  min-width: 140px;
  font-size: 14px;

  .suit-equip-list {
    color: rgb(91, 91, 91);
    border-top: 1px solid rgba(58, 57, 58, 0.8);
    border-bottom: 1px solid rgba(58, 57, 58, 0.8);
    padding: 6px 0;
    margin: 6px 0;
  }

  .suit-effect-title:not(.suit-color) {
    color: rgb(91, 91, 91);
  }

  .suit-effect-block {
    margin-bottom: 4px;
    &:nth-last-of-type(1) {
      margin: 0;
    }
  }

  .suit-effect-comment {
    font-size: 12px;
    color: rgb(91, 91, 91);

    &.active {
      color: rgb(193, 162, 55);
    }
  }
}
