.i-checkbox {
  display: flex;
  align-items: center;
  font-size: 12px;
  height: 24px;
  .i-checkbox-icon {
    width: 12px;
    height: 12px;
    margin-right: 4px;
    background-image: url("./img/checkbox_uncheck.png");

    &.checked {
      background-image: url("./img/checkbox_checked.png");
    }
  }

  &:hover {
    .i-checkbox-icon:not(.checked) {
      background-image: url("./img/checkbox_hover.png");
    }
  }

  .i-checkbox-label {
    height: 24px;
    line-height: 24px;
  }
}
