/**
 * @Author: Kritsu
 * @Date:   2021/11/09 15:43:10
 * @Last Modified by:   Kritsu
 * @Last Modified time: 2021/11/17 18:03:08
 */
$text-color: #e9c556;
.i-select {
  min-width: 80px;
  width: 160px;
  user-select: none;
  outline: none;
  height: 24px;
  min-height: 24px;
  line-height: 100%;
  font-size: 12px;
  color: $text-color;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #5b472a;
  border-radius: 2px;
  padding: 0;
  margin: 0;
  display: block;

  .i-select-trigger {
    padding: 0;
    display: flex;
    height: 100%;

    justify-content: space-between;
    align-items: center;

    .i-select-label {
      padding-left: 5px;
    }

    .i-select-down-icon {
      background-image: url("./img/select_down.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 18px;
      height: 17px;
    }

    &.disabled {
      color: gray;

      .i-select-down-icon {
        background-image: url("./img/select_down_disabled.png");
      }
    }
  }
}

.i-select-dropdown {
  position: fixed;
  max-height: 160px;
  overflow-y: auto;
  background: black;
  font-size: 12px;
  z-index: 888;

  $hoverColor: #002947;
  $activeColor: lighten($hoverColor, 5%);
  color: $text-color;

  .i-option {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0 8px;
    border: none;
    outline: none;
    appearance: none;
    cursor: default;
    display: block;
    overflow: hidden;

    &.active {
      background-color: $activeColor;
    }
  }

  .i-option:hover:not(.active) {
    font-size: 12px;
    background-color: $hoverColor;
    border: 0px;
  }
}
